 /* colors */

:root {

    --color-text: hsl(0,0%,16%);
    --color-text-heading: black;
    --color-text-subtle: hsl(0,0%,46%);

    --color-dark-text: hsl(0,0%,84%);
    --color-dark-text-heading: white;
    --color-dark-text-subtle: hsl(0,0%,54%);

    --color-light-grey: hsl(0,0%,90%);
    --color-dark-grey: hsl(0,0%,10%);

    --color-linkedin: #0077B5;
    --color-instagram: #E4405F;
    --color-pinterest: #BD081C;
    --color-vimeo: #1AB7EA;
}