:root {
	/* font stacks */
	--serif: "Iowan Old Style", "Apple Garamond", Baskerville, Georgia, Cambria, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /* set base values */
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;

    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

    /* spacing values */
    --space-unit: 1em;
    --space-xxs:  calc(0.25 * var(--space-unit));
    --space-xs:   calc(0.50 * var(--space-unit));
    --space-sm:   calc(0.75 * var(--space-unit));
    --space-md:   calc(1.25 * var(--space-unit));
    --space-lg:   calc(2.00 * var(--space-unit));
    --space-xl:   calc(3.25 * var(--space-unit));
    --space-xxl:  calc(5.25 * var(--space-unit));

    /* padding */
    --padding: 1.25em;
    --padding-safe: calc( var(--padding) + env(safe-area-inset-left) );

    /* border-radius */
    --border-radius: .5em;

    /* max-width */
    --max-width-text: 45rem;
    --max-width-wide: 45rem;

    /* line-height */
    --heading-line-height: 1.2;
    --body-line-height: 1.5; //1.618 golden ratio
}

@include breakpoint(tablet) {
    :root {
        --text-base-size: 1.25em;
        --text-scale-ratio: 1.25;
        --padding: 1.5em;
    }
}

@include breakpoint(laptop) {
    :root {
    	--max-width-text: 55rem;
   		--max-width-wide: 75rem;
   		--padding: 2em;
    }
}

body {
    font-size: var(--text-base-size);
    font-family: var(--sans-serif);
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--sans-serif);
    color: var(--color-text-heading);
    margin-bottom: var(--space-sm);
    line-height: var(--heading-line-height);
    font-weight: 700;
}

/* text size */
.text--xxxl {
    font-size: var(--text-xxxl);
}

h1, .text--xxl {
    font-size: var(--text-xxl);
}

h2, .text--xl {
    font-size: var(--text-xl);
}

h3, .text--lg {
    font-size: var(--text-lg);
}

h4, .text--md {
    font-size: var(--text-md);
}

.text--sm, small {
    font-size: var(--text-sm);
}

.text--xs {
    font-size: var(--text-xs);
}

p {
    line-height: var(--body-line-height);
}

/*a {
    color: var(--color-link);

    &:visited {
        color: var(--color-link-visited);
    }
}*/

b, strong {
    font-weight: bold;
}

article {

	padding: var(--padding) var(--padding-safe);

	h1, h2, h3, h4, h5, h6, ul, ol, p, pre, blockquote, figure, figcaption, .message {
		box-sizing: border-box;
		max-width: var(--max-width-text);
		margin-left: auto;
		margin-right: auto;
	}

	h2, h3, h4 {
        margin-top: var(--space-md);
    }
    
    ul, ol, p, figure {
        margin-bottom: var(--space-md);
        font-weight: 300;
    }

    ul, ol {
		list-style-position: outside;
        padding-left: 1.5em;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
    }

    ul li, ol li {
        line-height: var(--body-line-height);
    	margin-bottom: var(--space-sm);
    }
    
    em {
        font-style: italic;
    }

    u {
        text-decoration: underline;
    }

    pre {
    	font-family: var(--monospace);
    	margin-bottom: var(--space-md);
    	font-size: .75em;
    }

    blockquote {
		padding: .809rem 0 .809rem 1.618rem ;
		margin-bottom: 1.618rem;
		border-left: 6px solid #ccc;
		color: #666;

		p {
			font-size: 1.5em;
			margin: 0;

			&:before { content: '\201C'; }
			&:after { content: '\201D'; }
		}

		cite {
			color: #999;
			display: inline-block;
			width: 100%;
			text-align: right;
			font-family: var(--monospace);
			font-size: .75em;
			letter-spacing: 0.1em;
			font-style: normal;
			text-transform: uppercase;

			&:before { content: '\2014'; }
		}
	}

	p.date {
	    line-height: 1.618rem;
	    display: block;
	    margin-bottom: 1.618rem;
	    margin-top: -1.618rem;
	    font-size: .75em;
	    font-family: var(--monospace);
	    letter-spacing: 0.1em;
	    text-transform: uppercase;
	}

	article p > img { 
	    display:block; 
	    margin: auto;
	}

	figcaption {
	    margin-top: .5em;
	    font-size: .6rem;
	    font-family: var(--monospace);
	    text-transform: uppercase;
	    letter-spacing: 0.05em;
	    font-weight: 700;
	    text-align: center;
	}

	sup, sub {
		vertical-align: baseline;
		position: relative;
		font-size: .75em;
		top: -0.4em;
	}

	sub { top: -0.4em; }

	.message {
	    padding: 0.809rem 1.618rem;
	    margin-bottom: 1.618rem;
	    box-sizing: border-box;
	    background-color: var(--color-light-grey);
	    border-left: 6px solid #666;

	    .title {
	        text-transform: uppercase;
	        color: #666;
	    }

	    p { margin: 0; }

	    &.info {
	        border-color: var(--color-message-info);
	        .title { color: var(--color-message-info); }
	    }
	    &.error {
	        border-color: var(--color-message-error);
	        .title { color: var(--color-message-error); }
	    }
	    &.warning {
	        border-color: var(--color-message-warning);
	        .title { color: var(--color-message-warning); }
	    }
	    &.success {
	        border-color: var(--color-message-success);
	        .title { color: var(--color-message-success); }
	    }
	}

	hr { 
		display: block;
		width: 100%;
		max-width: var(--max-width-text);
		height: 1px;
		background: var(--color-text-subtle);
		border: 0;
		margin: var(--space-md) auto;
	}

	.footnote-ref, .footnote-backref {
	    text-decoration: none;
	}

	.footnotes {
		font-family: var(--sans-serif);
	    font-size: .875rem;
	    color: var(--color-text-subtle);
	    font-weight: 300;
	}

}

.button {
    display: block;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    padding: calc( 0.5 * var(--padding)) var(--padding);
    cursor: pointer;
    text-transform: uppercase;
    font-family: var(--monospace);
    letter-spacing: 0.1em;
    border-radius: .5em;
    background: transparent;
    border: 2px solid var(--color-text);
    color: var(--color-text);
    font-size: 1em;
    margin-bottom: var(--space-xl);
    -webkit-appearance: none;
  	-moz-appearance: none;

    transition: background 250ms ease-in-out, color 250ms ease-in-out;
}

.button:hover {
    background: var(--color-text);
    color: var(--color-dark-text);
}

@include breakpoint(tablet) {
	.button { font-size: .75em; }
}

.dark {
    color: var(--color-dark-text);

    article {
	    h1, h2, h3, h4, h5, h6 {
	        color: var(--color-dark-text-heading);
	    }

	    .text--subtle {
	        color: var(--color-dark-text-subtle);
	    }

	    blockquote {
	        color: #999;
	        border-left: 6px solid #333;

	        cite { color: #999; }
	    }

	    img {
	    	filter: brightness(75%);
			box-shadow: none !important;
		}
	}

	.button {
		color: var(--color-dark-text);
		border-color: var(--color-dark-text);

		&:hover {
		    background: var(--color-dark-text);
		    color: var(--color-text);
		}
	}

	.message {
		background-color: var(--color-dark-grey);
	}

	hr { background: var(--color-dark-text-subtle); }

	.footnotes { color: var(--color-dark-text-subtle); }

}
