.astroimage__wrapper {
	max-width: var(--max-width-wide);
	margin: auto;
	display: grid;
	grid-gap: var(--space-md);
	grid-template-columns: 1fr;
	padding: var(--padding) var(--padding-safe);
}

@include breakpoint(phablet) {
	.astroimage__wrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@include breakpoint(tablet) {
	.astroimage__wrapper {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@include breakpoint(laptop) {
	.astroimage__wrapper {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}


.astroimage {
	position: relative;
	width: 100%;
	max-width: unset;
	height: 0;
	margin: 0;
	padding: 100% 0 0 0;
	overflow: hidden;
	opacity: 1;
	transition: filter 250ms ease-in-out,
				box-shadow 250ms ease-in-out,
              	transform 150ms ease;
    
    &:hover, &:focus {
    	filter: brightness(125%) grayscale(25%);
    	box-shadow: 0 2px 2px rgba(0,0,0,0.1),0 4px 4px rgba(0,0,0,0.1),0 8px 8px rgba(0,0,0,0.1),0 16px 16px rgba(0,0,0,0.1),0 32px 32px rgba(0,0,0,0.1),0 64px 64px rgba(0,0,0,0.1);
    }

    &:active {
    	transform: scale(0.99);
    }
}

.astroimage__img, .astroimage__link {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100% !important;
	height: 100% !important;
}

.astroimage__link {
	padding: var(--padding);
	display: table;
	text-decoration: none;
	box-sizing: border-box;

	h1 {
		color: white;
	}
}

.astroimage__heading {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-weight: 500;
	font-size: 1.5rem;
	font-family: var(--monospace);
    letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 1.25;
}

p.designations {
    line-height: var(--body-line-height);
    display: block;
    margin-bottom: var(--space-md);
    margin-top: calc(-1 * var(--space-md));
    font-size: .75em;
    font-family: var(--monospace);
    letter-spacing: 0.1em;
    text-transform: uppercase;
	color: var(--color-text-subtle);
}

.details__heading {
    line-height: var(--body-line-height);
    font-size: .75em;
    display: block;
    margin-bottom: 0;
    font-family: var(--monospace);
    letter-spacing: 0.1em;
    text-transform: uppercase;
	font-weight: normal;
}

.details {
	list-style: none;
	padding:0;
	font-size: .75em;
	font-family: var(--monospace);
	letter-spacing: 0.025em;

	> li {
		margin: 0;
	    color: var(--color-text-subtle);

	    &.total {
	    	margin-top: 1.5em;
	    }
	}
}

.column__wrapper {
	max-width: var(--max-width-text);
	margin: auto;
	display: grid;
	grid-column-gap: var(--space-md);
	grid-template-columns: 1fr;
}

@include breakpoint(tablet) {
	.column__wrapper { grid-template-columns: 1fr 1fr; }
}

// VirtualSky

.virtualsky__wrapper {
	margin: var(--padding) auto;
	position: relative;
	width: 100%;
	max-width: var(--max-width-wide);
	height: 400px;
}

.virtualsky {
	width: 100% !important;
	height: 100% !important;
	margin: 0;
	pointer-events: none;
}

@include breakpoint(laptop) {
	.virtualsky__wrapper {
		height: 600px;
	}
}

.dark .virtualsky.light {display: none;}
.light .virtualsky.dark {display: none;}

.virtualsky__reticle__wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
}

.virtualsky__reticle {
	width: 1.5em;
	height: 1.5em;
	border: dashed 2px red;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	margin-top: -.75em;
	margin-left: -.75em;
}

.virtualsky__reticle__label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 4em;
    font-size: .75em;
    font-family: var(--monospace);
    letter-spacing: 0.1em;
    text-transform: uppercase;
	color: red;
}