.bio {
	margin: auto;
	max-width: var(--max-width-wide);
	padding: var(--padding) var(--padding-safe);
}

.bio__heading {
    font-size: 1.75rem;
	font-weight: 200;
    color: var(--color-text-subtle);
	line-height: 1.25;
    max-width: var(--max-width-text);
}