$content_width: 836px;

.header {
	margin: auto;
	max-width: var(--max-width-text);
	padding: var(--padding) var(--padding-safe);

    p {
        margin-bottom: var(--space-md);
    }
}

.header__heading {
    font-family: var(--monospace);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}