$content_width: 836px;

.navbar {
	position: relative;
	max-width: $content_width;
	margin: auto;
	padding: 1.25rem calc(1rem + env(safe-area-inset-left));
}
.header__title {
	display: inline-block;
	font-size: 1.5rem;
	margin: 0;
}

svg#logo { 
	height: 0.8em; 
	width: auto;
    position: relative;
    z-index: 1000;
}

.menu__hidden { display: none; }

/* START OF MENU BUTTON */

.menu__open {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    z-index: 2001;
    border-radius: 50%;
    font-size: 1.5rem;
}

.menu__open i {
    display: block;
    width: 2rem;
    height: 3px;
    background: black;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
    border-radius: 3px;
    margin-left: 1rem;
}

.menu__open i:nth-child(1) {
    margin-top: 1.5rem;
}

.menu__open i:nth-child(2) {
    margin-top: 6px;
    opacity: 1;
}

.menu__open i:nth-child(3) {
    margin-top: 6px;
}

#menu:checked + .menu__open {
    position: fixed;
}

#menu:checked + .menu__open i {
    background: #fff;
    transition: transform 0.2s ease;
}

#menu:checked + .menu__open i:nth-child(1) {
    transform: translateY(0.3333333em) rotate(225deg);
}

#menu:checked + .menu__open i:nth-child(2) {
    opacity: 0;
}

#menu:checked + .menu__open i:nth-child(3) {
    transform: translateY(-0.333333em) rotate(135deg);
}

/* END OF MENU BUTTON */

/* START OF MOBILE MENU */

.menu__container {
    position: fixed;
    visibility: hidden;
    display: table;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #111;
    opacity: 0;
    transition: all 0.2s ease;
    overflow: hidden;
}

#menu:checked ~ .menu__container {
    z-index: 2000;
    opacity: 1;
    visibility: visible;
}

.menu__list {
	list-style: none;
    display: table-cell;
    vertical-align: middle;
}

.menu__item {
	display: block;
	float: none;
	width: 100%;
	max-width: 800px;
    margin: auto;
	text-align: right;
	margin-bottom: .5em;
	position: none;
}

.menu__item > a:link, .menu__item > a:visited {
	display: block;
	outline: none;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: .25em calc(1rem + env(safe-area-inset-left));
    line-height: 1.5;
    color: #ccc;
    font-size: 1.5em;
}

.menu__item > a:hover, .menu__item > a:active {
    color: #fff;
}

.menu__container .menu__item > a { 
	opacity: 0;
}

#menu:checked ~ .menu__container .menu__item > a {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s ease;
}

@for $i from 1 through 10 {
    #menu:checked ~ .menu__container .menu__item:nth-child(#{$i}n) > a {
        transition-delay: #{$i * 0.05}s;
    }
}

/* END OF MOBILE MENU */

/* START OF LARGER MENU */

@media only screen and ( min-width: $content_width ) {
	
	.menu__open { display: none; }

	.menu {
		display: inline-block;
		float: right;
	}

	.menu__container {
		opacity: 1;
		visibility: visible;
		display: inline-block;
		position: relative;
		width: auto;
		height: auto;
		background: transparent;
		z-index: 1;
		transition: none;
	}

	.menu__list {
		display: block;
		margin:0;
	}

	.menu__item {
		display: inline-block;
		width: auto;
		margin: 0;
	}

	.menu__container .menu__item > a:link, .menu__container .menu__item > a:visited {
		opacity: 1;
		font-size: 1em;
		margin: .125em .5em;
		padding: 0;
		color: #000;
		font-weight:300;
	}

	.menu__container .menu__item > a:hover, .menu__container .menu__item > a:active, .menu__container .menu__item > a[aria-current]:not([aria-current="false"]) { color: #000;}

}
/* END OF LARGER MENU */


/* START OF DARK MODE */

body.dark {
    background: black;
    color: hsl(0,0,80);

    svg#logo path {
        fill: hsl(0,0,80);
    }
    .menu__open i {
        background: hsl(0,0,80);
    }
    .menu__container .menu__item > a:link, .menu__container .menu__item > a:visited {
        color: hsl(0,0,80);
    }
    .menu__container .menu__item > a:hover, .menu__container .menu__item > a:active {
        color: white;
    }

    .navbar.hashero {
        svg#logo path {
        fill: white;
        }
        .menu__open i {
            background: white;
        }
        .menu__container .menu__item > a:link, .menu__container .menu__item > a:visited {
            color: white;
        }
    }

}

//and for when we have a dark hero on the light theme.

.navbar.dark{
    svg#logo path {
        fill: white;
    }
    .menu__open i {
        background: white;
    }
    .menu__container .menu__item > a:link, .menu__container .menu__item > a:visited {
        color: white;
    }
}

/* END OF DARK MODE */

/* START OF DARK MODE SWITCH */

.darkmode__switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    z-index: 10;
    margin-top: 1px;
    margin-left: .5rem;
    border: solid 2px rgba(255,255,255,0.75);
    border-radius: 14px;
    box-sizing: content-box;
    float: right;
    margin-right: 4rem;
}

.darkmode__switch__input {
    opacity: 0;
    width: 0;
    height: 0;
}

.darkmode__switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.darkmode__switch__slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: #F5EB42;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

.darkmode__switch__slider i {
    display: block;
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: hsla(0,0,100,0.75);
    border-radius: 50%;
    top:4px;
    left: 16px;
    -webkit-transition: .2s;
    transition: .2s;
}

.darkmode__switch__slider i:nth-of-type(2) {
    top:6px;
    left:24px;
}
.darkmode__switch__slider i:nth-of-type(3) {
    top:12px;
    left:10px;
}
.darkmode__switch__slider i:nth-of-type(4) {
    top:18px;
    left:8px;
}
.darkmode__switch__slider i:nth-of-type(5) {
    top:10px;
    left:20px;
}
.darkmode__switch__slider i:nth-of-type(6) {
    top:9px;
    left:4px;
}

.darkmode__switch__input:checked + .darkmode__switch__slider:before {
    -webkit-transform: translateX(21px) translateY(-2px);
    -ms-transform: translateX(21px) translateY(-2px);
    transform: translateX(21px) translateY(-2px);

    background-color: transparent;
    box-shadow: 5px 2px 0 0 #FFFDF2;
}

.darkmode__switch__input:checked + .darkmode__switch__slider i {
    width: 2px;
    height: 2px;
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px);
}

.darkmode__switch__input:checked + .darkmode__switch__slider i:nth-of-type(1),
.darkmode__switch__input:checked + .darkmode__switch__slider i:nth-of-type(4),
.darkmode__switch__input:checked + .darkmode__switch__slider i:nth-of-type(6) {
    background-color: white;
    width: 3px;
    height: 3px;
} 


body.light {
    .darkmode__switch { border-color: rgba(0,0,0,0.75); }
    .darkmode__switch__slider:before { background-color: #E4C74D; }
    .darkmode__switch__slider i { background-color: hsla(0,0,90,0.85); }
}

body.light .navbar.light.hashero {
    .darkmode__switch { background-color: rgba(0,0,0,0.15); }
}

body.light .navbar.dark.hashero {
    .darkmode__switch { border-color: rgba(255,255,255,0.75); }
    .darkmode__switch__slider:before { background-color: #F5EB42; }
    .darkmode__switch__slider i { background-color: hsla(0,0,100,0.75); }
}

@media only screen and ( min-width: $content_width ) {
    .darkmode__switch {
        margin-top: 2px;
        margin-right: 0;
    }
}

/* END OF DARK MODE SWITCH */

.notMobile {display: none;}

article {
	max-width: $content_width;
	margin: auto;
	padding: 1.618rem calc(1rem + env(safe-area-inset-left));
}

p.date {
    line-height: 1.618rem;
    display: block;
    margin-bottom: 1.618rem;
    margin-top: -1.618rem;
    font-size: .75em;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

article p > img { 
    display:block; 
    margin: auto;
}

figcaption {
    text-align: center;
    font-size: .875rem;
    color: rgba(0,0,0,0.6);
    font-style: italic;
    font-weight: 200;
}

.footnote-ref, .footnote-backref {
    text-decoration: none;
}

.footnotes {
    font-size: .875rem;
    color: rgba(0,0,0,0.6);
    font-weight: 200;
}

body.dark {
    figcaption, .footnotes  { color: hsl(0,0,50); font-weight: 300; }
}


/* GALLERY WORKAROUNDS - NETLIFY CMS IS SOMEWHAT LIMITED CURRENTLY */

.gallery {
    p { 
        display: inline-block;
        width: 100%;
        height: 0;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
    }

    p > span {
        display: block;
        position: absolute !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .gatsby-resp-image-background-image { 
        padding-bottom: 100% !important;
        background-position: center;
    }

    img { object-fit: cover; }
}

.gallery__two, .gallery__three, .gallery__four {
    p { 
        width: calc( 50% - .809rem);
        padding-top: calc( 50% - .809rem);
        margin-left: 1.618rem;
    }
    p:nth-child(2n-1) { margin-left: 0; }
}

/* FOOTER */
.page__wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.page__body {
    flex: 1;
}

.footer {
    width: 100%;
    background: #d8d8d8;
    font-size: .75em;
}

.footer__text {
    max-width: $content_width;
    margin: auto;
    padding: 1.618em calc(1rem + env(safe-area-inset-left));
}

.legal__list, .social__list {
    display: block;
    margin: 0;
}

.legal__list__item, .social__list__item {
    display: inline;
    margin: 0 0 0 1.618rem;
}

.legal__list__item:first-child, .social__list__item:first-child {
    margin-left: 0;
}

.legal__list__item > a:link, .legal__list__item > a:visited {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 250ms ease;
}
.legal__list__item > a:hover, .legal__list__item > a:active {
   border-color: #666;
}

.social__list { margin-bottom: 1.618rem; }

.social__list__item svg { height: 1.5em; }

.social__list__item svg path { 
    fill: rgba(0, 0, 0, 0.8);
    transition: fill 250ms ease;
}
.social__list__item:hover svg path { fill: rgba(0, 0, 0, 0.5); }

.social__list__item:hover .linkedin svg path { fill: #0077B5; }
.social__list__item:hover .instagram svg path { fill: #E4405F; }
.social__list__item:hover .pinterest svg path { fill: #BD081C; }
.social__list__item:hover .vimeo svg path { fill: #1AB7EA; }

.category__list {
    margin: -1rem 0 1.618rem;

    .menu__item { 
        display: block;
        text-align: left;
    }
    .menu__item a:link, .menu__item a:visited { 
        color: rgba(0,0,0,0.8);
        padding: .25em 0;
        font-weight: 300;
        text-transform: unset;
    }
    .menu__item a:hover, .menu__item a:active { color: rgba(0,0,0,0.5); }
}

.category__list__title {font-size: 1.5rem;}

.footer__columns {
    display: grid;
    grid-column-gap: 1.618rem;
    grid-template-columns: 1fr;
}

.footer__columns p {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    letter-spacing: 0.1em;
}

.footer__logo {
    margin-bottom: 1em;
    height: 1.2rem;
}

.footer__link {text-decoration: none;}

.footer__button {
    display: block;
    border: none;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    padding: .75em 1.5em;
    cursor: pointer;
    text-transform: uppercase;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    letter-spacing: 0.1em;
    border-radius: .5em;
    background: black;
    color: white;
    font-size: 1rem;
    margin-bottom: 1.618rem;
    width: 100%;

    transition: background 250ms ease-in-out, color 250ms ease-in-out;
}

.footer__button:hover {
    background: #333;
}

.dark {
    .footer { background: #333; }
    .footer__logo path { fill: white !important; }
    .footer__button {
        background: #ccc;
        color: black;
    }
    .footer__button:hover { background: white; }
    .social__list__item svg path { fill: rgba(255, 255, 255, 0.75); }
    .social__list__item:hover svg path { fill: white; }

    .category__list {
        .menu__item a:link, .menu__item a:visited { color: rgba(255,255,255,0.75); }
        .menu__item a:hover, .menu__item a:active { color: white; }
    }

}


@media only screen and ( min-width: 768px ) {

    .navbar { padding: 1.25rem calc(2rem + env(safe-area-inset-left)); }
    
    .menu__open { right: 1rem; }
    
    .menu__item > a:link, .menu__item > a:visited { padding: .25em calc(2rem + env(safe-area-inset-left)); }

    .notMobile {display: inline;}
    
    article { padding: 1.618rem calc(2rem + env(safe-area-inset-left)); }

    .footer {font-size: 1em;}

    .footer__text { padding: 3.236rem calc(2rem + env(safe-area-inset-left)); }

    .footer__logo { height: 2rem; }

    .footer__columns {
        grid-template-columns: 1fr 1fr;
        font-size: .75em;
    }

    .footer__columns p { width: 15rem; }
    .footer__button { width: 14rem; }

    .category__list__title, .category__list .menu__item { text-align: right; }

    .social__list { margin-top: -3.236rem; }

    .gallery__three {
        p { 
            width: calc( 33% - 1.078666666666667rem);
            padding-top: calc( 33% - 1.078666666666667rem);
        }
        p:nth-child(2n-1) { margin-left: 1.618rem; }
        p:nth-child(3n-2) { margin-left: 0; }
    }

    .gallery__four {
        p {
            width: calc( 25% - 1.2135rem);
            padding-top: calc( 25% - 1.2135rem);
            margin-left: 1.618rem;
        }
        p:nth-child(2n-1) { margin-left: 1.618rem; }
        p:nth-child(4n-3) { margin-left: 0; }
    }
}

@media only screen and ( min-width: $content_width ) {
	article { text-align: justify; }
}

@media only screen and ( min-width: 1400px ) {
    svg#logo { 
        height: 1em; 
    }
    .navbar, .footer__text {
        max-width: 1236px;
    }
    .footer__columns {
        
    }
}
