$content_width: 836px;

.post {
	display: block;
	text-align: left;
	max-width: var(--max-width-wide);
	margin: auto;
}

.post::after {
  content: "";
  clear: both;
  display: table;
}

.post__img {
	margin-bottom: var(--space-md);
	height: 0;
	padding-bottom: 66.666666666%;
}

.post__date, .post__link {
	font-size: .75rem;
	font-family: var(--monospace);
    letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-bottom: .5rem;
	color: var(--color-text-subtle);
}

.post__title {
	font-weight: 500;
	font-size: 1.75rem;
	max-width: var(--max-width-wide);

	a {
		text-decoration: none;
		color: var(--color-text-heading);
	}
}

.post__excerpt {
	font-weight: 300;
	max-width: var(--max-width-wide);
}

.post__link {
	text-decoration: none;
	border-bottom: 1px solid #333;
	padding-bottom: .125em;

}

.dark {
	.post__title > a {
		color: var(--color-dark-text-heading);
	}
	.post__date, .post__link {
		color: var(--color-dark-text-subtle);
	}
	.post__link { border-bottom-color: #666; }
}

@include breakpoint(tablet) {
	.post__img {
		width: calc(50% - .5 * var(--padding));
		float: left;
		margin-right: var(--padding);
		padding-bottom: 60%;
	}
}

@include breakpoint(laptop) {

	.post__img {
		padding-bottom: 33.333333333%;
	}
	.post__title > a {
		font-size: 1.25em;
	}
}